body
{
    padding: 0 !important;
    margin: 0  !important;
}
html{
    font-family: Helvetica;
}

#gora1, #gora2{
background-color: rgb(146, 184, 112);
text-align: center;
width: 50%;
height: 170px;

}
#gora2
{
    float: right;
}

#gora2 img
{
  width: 32%;
}
#gora1
{
    float: left;
}
#baner, #stopka {
    background-color: rgb(100, 61, 49);
    color: white;
    text-align: center;
    height: 80px;
    clear: both;
    
}
#lewy, #prawy {
    background-color: rgb(146, 184, 112);
    width: 50%;
    height: 450px;
    float: left;
}

table, td{
    border: 2px dashed green;
    margin: 20px;
    padding: 30px;
}
a{
    padding: right 30px; ;
    padding: bottom 120px;
    font-size: 150%;
    text-decoration: none;
    
}
h1{
    font-size: 250%;
    letter-spacing: 20px;
}

#form
{
    margin: 25px;
}